@model WebCore.Areas.VulnManage.ViewModel.VulnManagePageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.TagHelpers
@addTagHelper *, jQWidgets.AspNetCore.Mvc.Bootstrap.TagHelpers

@{
    ViewData["Title"] = "VulnList";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var t_vulns = Model.t_VULNs;
}

<h2>VulnList</h2>

<p>
    <a asp-controller="VulnManage" asp-action="VulnCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.t_VULNs[0].VULN_SEQ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_VULNs[0].VULN_NAME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in t_vulns)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VULN_SEQ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VULN_NAME)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VULN_SEQ">Edit</a> |
                    <a asp-controller="VulnManage" asp-action="VulnDetail" asp-route-id="@item.VULN_SEQ">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VULN_SEQ">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
